---
import Tooltip from "./Tooltip.astro";
import { Smarthphone, Laptop, Tablet } from "../icons/Icons";
import { Image } from "astro:assets";

import Teachill from "../img/shots-teachill.png";
import Kairos from "../img/shots-kairosx.png";
import Mentoru from "../img/shots-mentoru.png";
import Spotify from "../img/shots-spotify.png";
import InnerVoice from "../img/shots-inner-voice.avif";
import Hive5 from "../img/shots-hive5.avif";
import Chip from "./Chip.astro";

import { PROJECTS } from "../lib/data";
import Title from "./Title.astro";
---

<div class="flex flex-col">
  <Title>
    <span slot="icon">💻</span>
    <span slot="text">Proyectos</span>
  </Title>
  {
    PROJECTS.map((project) => {
      let image;
      if (project.image === "Teachill") {
        image = Teachill;
      } else if (project.image === "Kairos") {
        image = Kairos;
      } else if (project.image === "MentorU") {
        image = Mentoru;
      } else if (project.image === "Spotify") {
        image = Spotify;
      } else if (project.image === "InnerVoice") {
        image = InnerVoice;
      } else if (project.image === "Hive5") {
        image = Hive5;
      } else {
        image = Teachill;
      }

      let tools;

      if (project.tools.length < 6) {
        tools = project.tools.map((tool) => <Tooltip text={tool} />);
      } else {
        tools = project.tools
          .slice(0, 6)
          .map((tool) => <Tooltip text={tool} />);
      }

      return (
        <article class="reveal grid grid-cols-3 py-10 gap-8">
          <div class="col-span-1 flex flex-col items-start justify-between h-full">
            <Image
              src={image}
              alt={`Imagen de proyecto: ${project.title}`}
              loading="lazy"
              decoding="async"
              class="rounded-xl object-cover aspect-video"
            />
            <div class="flex flex-col md:flex-row items-center justify-center w-full">
              {project.links.map((link) => (
                <Chip className="z-20" href={link.url} name={link.name} />
              ))}
            </div>
          </div>
          <div class="col-span-2 flex flex-col gap-4">
            <header class="flex flex-col gap-2">
              <h3 class="jost leading-tight font-medium text-[22px]">
                <a
                  href={project.primary_url}
                  target="_blank"
                  aria-label={`Visitar el proyecto ${project.title}`}
                  rel="noopener noreferrer"
                  class="text-slate-200 hover:text-teal-300"
                >
                  {project.title}
                </a>
              </h3>
              <div class="flex items-center justify-between">
                <div
                  aria-label="Tecnologias usadas"
                  class="flex items-center gap-2"
                >
                  {tools}
                </div>
                <div class="flex items-center">
                  {project.devices.map((device) =>
                    device === "Mobile" ? (
                      <Smarthphone />
                    ) : device === "Tablet" ? (
                      <Tablet />
                    ) : (
                      <Laptop />
                    ),
                  )}
                </div>
              </div>
            </header>
            <p class="text-base text-slate-400 text-pretty">
              {project.description}
            </p>
            {project.credits && (
              <small class="text-sm text-slate-500 text-pretty">
                Diseñado por:
                <a
                  href="https://www.behance.net/vivianauyarte"
                  target="_blank"
                  aria-label="Visitar perfil de behance de Viviana Uyarte"
                  rel="noopener noreferrer"
                  class="text-xs text-slate-500 hover:text-white"
                >
                  Viviana Uyarte
                </a>
              </small>
            )}
          </div>
        </article>
      );
    })
  }
</div>

<style>
  .imageCard div {
    transition: transform 0.3s;
    opacity: 0;
  }

  .imageCard:hover div {
    opacity: 1;
    transform: scale(1.05);
  }
</style>
