---
import Tooltip from "./Tooltip.astro";
import { Smarthphone, Laptop, Tablet } from "../icons/Icons";
import { Image } from "astro:assets";

import Teachill from "../img/shots-teachill.png";
import Kairos from "../img/shots-kairosx.png";
import Mentoru from "../img/shots-mentoru.png";
import Spotify from "../img/shots-spotify.png";
import Chip from "./Chip.astro";

import { PROJECTS } from "../lib/data";
---

<div class="flex flex-col gap-20">
  {
    PROJECTS.map((project) => {
      let image;
      if (project.image === "Teachill") {
        image = Teachill;
      } else if (project.image === "Kairos") {
        image = Kairos;
      } else if (project.image === "MentorU") {
        image = Mentoru;
      } else if (project.image === "Spotify") {
        image = Spotify;
      } else {
        image = Teachill;
      }

      return (
        <article class="flex flex-col md:flex-row gap-10">
          <div class="flex flex-col gap-8">
            <header class="flex flex-col gap-2">
              <h3 class="jost text-unst font-semibold text-[21px]">
                {project.title}
              </h3>
              <div class="flex items-center justify-between">
                <div
                  aria-label="Tecnologias usadas"
                  class="flex items-center gap-2"
                >
                  {project.tools.map((tool) => (
                    <Tooltip text={tool} />
                  ))}
                </div>
                <div class="flex items-center">
                  {project.devices.map((device) =>
                    device === "Mobile" ? (
                      <Smarthphone />
                    ) : device === "Tablet" ? (
                      <Tablet />
                    ) : (
                      <Laptop />
                    ),
                  )}
                </div>
              </div>
            </header>
            <p class="font-medium text-base text-parrafo/80 max-w-80 text-pretty">
              {project.description}
            </p>
          </div>
          <div class="imageCard relative overflow-hidden rounded-xl max-w-[400px] max-h-[280px]">
            <Image
              src={image}
              alt={`Imagen de proyecto: ${project.title}`}
              loading="lazy"
              decoding="async"
              class="w-full h-full rounded-xl object-cover"
            />
            <div class="absolute z-10 flex flex-col rounded-xl justify-center items-center gap-10 top-0 left-0 w-full h-full bg-chip/30 backdrop-blur-sm">
              {project.links.map((link) => (
                <Chip className="z-20" card href={link.url} name={link.name} />
              ))}
            </div>
          </div>
        </article>
      );
    })
  }
</div>

<style>
  .imageCard div {
    transition: transform 0.3s;
    opacity: 0;
  }

  .imageCard:hover div {
    opacity: 1;
    transform: scale(1.05);
  }
</style>
